* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container h1 {
  margin: 20px 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 3rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 32%;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
  object-fit: cover;
}

.card:hover {
  transform: scale(1.03);
  transition-duration: 1s;
  box-shadow: 0 0 20px gray;
}
.card:hover img {
  filter: grayscale(0%);
}

.card figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 20%; */
  opacity: 0;
  padding: 1rem;
  font-size: 16px;
  font-weight: 700;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 1s;
}

.card:hover figcaption {
  opacity: 1;
  color: aquamarine;
  transform: scale(1.03);
}

footer {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

footer p {
  opacity: 0;
}
footer:hover {
  background-color: rgb(224, 191, 191);
  /* opacity: 1; */
  background: linear-gradient(
    0deg,
    rgba(224, 191, 191, 0.5) 100%,
    rgba(171, 9, 9, 0) 100%
  );
}
footer:hover p {
  /* background-color: rgb(224, 191, 191); */
  opacity: 1;
  font-size: 16px;
  font-weight: 700;
  transform: scale(1.03);
  transition: 2s;
}
